<main>
   <div>
    <h1>Sign Up</h1>
    <form action="/signupUser" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Sign up</button>
    </form>
    </div>
</main>

<footer >
  <%- include('../views/partials/footer') %>
</footer>
<%- include('../views/partials/mypartial') %>
  </body> </html>
<script>

</script>
<style>
  html {
    width: 500px;
    margin: auto;
  }
  div {
    margin: 0 0 50px 0;
  }
</style>